*{
    margin: 0;
    padding: 0;
}
section {
    height: 200px;
    border: 2px solid orange;
}

#main {
    border: 2px solid green;
}

nav {
    border: 2px solid magenta;
    color: magenta;
}

@media screen and (min-width:600px) {
    nav {
        float: left;
        width: 25%;
    }
    section {
        margin-left: 25%
    }
}

@media screen and (max-width:599px) {
    nav li {
        display: inline;
    }
}